$blue: #00ADB5;
$dark: #222831;
$lighter: #393E46;
$white: #EEEEEE;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin setWidth {
    width: calc(100% - 30px);
    max-width: 1000px;
}

html,
body {
    margin: 0;
    padding: 0;
    background: $white;
    color: $dark;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

#header {
    @include center;
    flex-direction: column;
    background: $dark;
    color: $white;
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 16px;

    #headerContent {
        @include center;
        max-width: 1000px;
        width: calc(100% - 100px);
        justify-content: space-between;
        height: 82px;

        h1 {
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            padding: 0;
        }

        ul {
            @include center;
            flex-direction: row;
            margin: 0 -9px;
            padding: 0;

            li {
                padding: 0 18px;
                list-style: none;

                a {
                    color: $white;
                    text-decoration: none;
                    transition: color 0.1s;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }

        #menuButton {
            display: none;
            font-size: 24px;
        }
    }

    #mobileMenu {
        width: 100%;
        border-top: 4px solid $lighter;

        ul {
            margin: 0;
            padding: 20px;

            li {
                padding: 10px 0;
                list-style: none;
                text-align: center;

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}

.button {
    text-decoration: none;
    color: $white;
    background-color: $lighter;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.1s !important;

    &:hover {
        color: $white !important;
        background-color: $blue;

        &.large {
            color: $white !important;
            background-color: $dark;
        }
    }

    &.large {
        font-size: 18px;
        padding: 12px 26px;
        color: $dark;
        background-color: $white;
        border: 1px solid $dark;
    }
}

.multiButton {
    display: inline-flex;
    width: auto;
    border-radius: 6px;
    border: 1px solid $lighter;

    a {
        margin: 0;
        padding: 6px 12px;
        color: $lighter;
        text-decoration: none;
        font-size: 16px;
        border-left: 1px solid $lighter;
        transition: all 0.1s;

        &:first-child {
            border: none;
        }

        &:hover {
            background: $lighter;
            color: $white;
        }
    }
}

#titleSection {
    @include center;
    background: $blue;
    color: $white;
    height: 450px;
    max-height: calc(100vh - 82px - 102px);
    font-weight: 700;
    font-size: 72px;
    padding-top: 82px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    span {
        color: rgba(238, 238, 238, 0.7);
    }
}

#scrollArrow {
    @include center;
    align-items: flex-start;
    background: $blue;
    color: $white;
    font-size: 48px;
    height: 102px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#content {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 54px 0;
}

.textLine {
    @include setWidth;
    font-size: 18px;
    text-align: center;
}

hr {
    @include setWidth;
    border-top: 1px solid #A1A3BF;
    margin: 54px 0;
}

h2 {
    @include setWidth;
    padding: 0;
    margin: 0 0 32px 0;
    color: #00ADB5;
    font-size: 36px;
}

#skills {
    @include setWidth;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;

    .section {
        flex: 1;

        a {
            text-decoration: none;
        }

        .skill {
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            color: #4C4E6E;

            &:hover {
                background: #D8D8D8;
                color: $dark;
            }

            i {
                width: 40px;
                text-align: center;
                font-size: 24px;

                &.logo {
                    padding-right: 20px;
                }
            }

            span {
                flex: 1;
            }
        }
    }
}

#projects {
    @include setWidth;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 32px;

    .project {
        background: #FFF;
        border-radius: 8px;
        border: 1px solid #D8D8D8;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        margin: 0 7.5px;

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            border-bottom: 1px solid #d8d8d8;
        }

        .projBody {
            margin: 20px;

            h3 {
                margin: 0;
                padding: 0;
            }

            p {
                color: $lighter;
                font-size: 16spx;
                margin: 12px 0 20px 0;
            }
        }
    }
}

#footer {
    @include center;
    width: 100%;
    height: 50px;
    background: $dark;

    a {
        @include center;
        text-decoration: none;
        color: $white;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: color 0.1s;

        i {
            margin-left: 12px;
            font-size: 24px;
        }

        &:hover {
            color: $blue;
        }
    }
}

@media only screen and (max-width: 950px) {
    #titleSection {
        font-size: 64px;
    }
}

@media only screen and (max-width: 800px) {
    #titleSection {
        font-size: 48px;
    }

    #headerContent ul {
        display: none !important;
    }

    #menuButton {
        display: block !important;
    }

    h2 {
        width: auto;
    }
}

@media only screen and (max-width: 650px) {
    #titleSection {
        font-size: 36px;
    }

    #projects {
        flex-direction: column;
        align-items: center;

        .project {
            margin: 0 0 15px 0 !important;
            max-width: 400px;

            &:last-child {
                margin: 0 !important;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    #titleSection {
        font-size: 24px;
    }

    #headerContent {
        width: calc(100% - 60px) !important;
    }
}

@media only screen and (max-width: 350px) {
    #headerContent {
        width: calc(100% - 30px) !important;
    }
}