$blue: #00ADB5;
$dark: #222831;
$lighter: #393E46;
$white: #EEEEEE;

@mixin center {
    display: flex;
    align-items:center;
    justify-content: center;
}

html, body {
    margin: 0;
    padding: 0;
    background: $white;
    color: $dark;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

#header {
    @include center;
    flex-direction: column;
    background: $dark;
    color: $white;
    position: fixed;
    z-index: 100;
    width: 100%;
    font-size: 16px;

    #headerContent{
        @include center;
        max-width: 1000px;
        width: calc(100% - 100px);
        justify-content: space-between;
        height: 82px;

        #headerTop {
            font-weight: 700;
            font-size: 24px;
        }
    
        ul {
            @include center;
            flex-direction: row;
            margin: 0 -9px;
            padding: 0;
    
            li {
                padding: 0 18px;
                list-style: none;
    
                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }

        #menuButton {
            display: none;
            font-size: 24px;
        }
    }

    #mobileMenu {
        width: 100%;
        border-top: 4px solid $lighter;
        ul {
            margin:0;
            padding: 20px;
            
            li{
                padding: 10px 0;
                list-style: none;
                text-align: center;
    
                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}

.button {
    text-decoration: none;
    color: $white;
    background-color: $lighter;
    padding: 8px 16px;
    border-radius: 6px;

}

#titleSection {
    @include center;
    background: $blue;
    color: $white;
    height: 450px;
    max-height: calc(100vh - 82px - 102px);
    font-weight: 700;
    font-size: 72px;
    padding-top:82px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    span {
        color: rgba(238, 238, 238, 0.7);
    }
}

#scrollArrow {
    @include center;
    align-items: flex-start;
    background: $blue;
    color: $white;
    font-size: 48px;
    height: 102px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 950px) {
    #titleSection {
        font-size: 64px;
    }
}

@media only screen and (max-width: 800px) {
    #titleSection {
        font-size: 48px;
    }

    #headerContent ul {
        display: none !important;
    }

    #menuButton {
        display: block !important;
    }
}

@media only screen and (max-width: 650px) {
    #titleSection {
        font-size: 36px;
    }
}

@media only screen and (max-width: 450px) {
    #titleSection {
        font-size: 24px;
    }

    #headerContent {
        width: calc(100% - 60px) !important;
    }
}

@media only screen and (max-width: 350px) {
    #headerContent {
        width: calc(100% - 30px) !important;
    }
}